<mat-grid-list cols="7" rowHeight="1:1">
    <mat-grid-tile *ngFor="let monthDay of monthDays">
        <div
            [ngClass]="{'today': monthDay.isToday() }" 
            class="calendar-day" 
            fxLayout="column" 
            fxLayoutAlign="center center">
            <div fxFlex>{{ monthDay.date | date:'d' }}</div>
            <div class="weather-info" fxFlex *ngIf="monthDay.temperature">{{ monthDay.description }} ({{ monthDay.temperature | temperatureConverter : 'C'  }}°C)</div>
        </div>
    </mat-grid-tile>
</mat-grid-list>