<section fxLayout class="calendar-filter">
    <mat-form-field appearance="outline">
        <mat-label>Month</mat-label>
        <mat-select>
            <mat-option *ngFor="let month of months" [value]="month.key">
                {{month.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field fxFlexOffset="20px" appearance="outline">
        <mat-label>Year</mat-label>
        <mat-select>
            <mat-option *ngFor="let year of years" [value]="year">
                {{year}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</section>